* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
	/* background-image: url(../images/like.svg); */
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	color: #FFF;
	background-color: #374151;
}

header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	color: #6B7280;;
	margin-bottom: 1rem;
}

#form {
	display: flex;;
}

input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	color: cadetblue;
	font-size: 20px;
	line-height: 35px;
}

#input {
	flex: 1 1 0%;
	background-color: #1F2937;
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: #EEE;
	font-size: 1.25rem;
}

#input::placeholder {
	color: #6B7280;;
}

#submit {
	color: #EC4899;
	font-size: 1.25rem;
	font-weight: 700;
	background-image: linear-gradient(to right, #EC4899, #8B5CF6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	cursor: pointer;
	transition: 0.4s;
}

#submit:hover {
	opacity: 0.8;
}

#submit:active {
	opacity: 0.6;
}

main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.task-list {
	padding: 1rem;
}

.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: #6B7280;;
	margin-bottom: 1rem;
}

#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: #111827;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
}

.task .content {
	flex: 1 1 0%;
}
.content input {
	width: 100%;
}
.task .content .text {
	color: #EEE;
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}

.task .content .text:not(:read-only) {
	color: #EC4899;
}

.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}

.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}

.task .actions button:hover {
	opacity: 0.8;
}

.task .actions button:active {
	opacity: 0.6;
}

.task .actions .edit {
	background-image: linear-gradient(to right, #EC4899, #8B5CF6);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.task .actions .delete {
	color: crimson;
}

.like {
	width: 30px;
}
p {
	font-size: 1.3rem;
	font-weight: 300;
	color: #6B7280;;
	margin-bottom: 1rem;
}
